# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea/
cmake-build-debug/

.depend
screen-worms-client
screen-worms-server

codesize

client_src/talker.c
server_src/listener.c

sik-testy-serwerowe-preview-moga-byc-zle-moga-byc-bledne/

tests/*.py
tests/__pycache__